<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link th:href="@{'/stylesheets/admin.css'}" rel="stylesheet"/>


</head>
<body>

<div class="container-fluid">


    <form action="/admin" class="form-inline">
        <div class="form.group col-md-4">
            <input type="text" id="search" name="search" class="form-control" placeholder="Search a User"/>
            <input type="submit" value="Search" class="btn btn-primary">

        </div>

        <div class="col-md-4"></div>

        <div class="form.group col-md-4 pull-right">
            <a href="/admin">
                <button type="button" class="btn btn-primary">Logout</button>
            </a>
        </div>
    </form>
    <br><br>
    <table class="table table-hover table-bordered table-responsive-md" align="center">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Total Points</th>
                <th scope="col" colspan="3">Badges</th>
                <th scope="col">Status</th>
                <th scope="col">Date Created</th>
                <th scope="col">Role</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="100"></td>
                <td th:text="${user.badges.gold}"></td>
                <td th:text="${user.badges.silver}"></td>
                <td th:text="${user.badges.bronze}"></td>
                <td th:text="${user.status}"></td>
                <td th:text="${user.dateCreated}"></td>
                <td th:text="${user.userRole}"></td>


                <td>
                    <a th:href="@{'/admin/list/{id}/edit'(id=${user.id})}" class="edit"
                       th:attr="name=${user.firstname}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                    </a>
                </td>

                <td>
                    <a th:href="@{'/admin/list/{id}/delete'(id=${user.id})}" class="delete"
                       th:attr="name=${user.firstname}">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
</div>


</body>
</html>