<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Badge Page</title>

    <link th:href="@{'/stylesheets/index.css'}" rel="stylesheet"/>
    <script th:src="@{'/javascript/index.js'}"></script>

<body>

<div th:insert="common.html :: header"></div>

<div class="container-fluid">
    <div class=" col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><img src="/images/badges.png" style="padding-right: 10px"><b>BADGES</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <table>
                            <tr th:each="user, iterStat:${currentUser}" style="color: palevioletred;font-size: 25px">
                                <td th:text="${user.firstname}"></td>
                                <td th:text="${user.lastname}"></td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th><img th:src="@{'/images/gold.png'}" alt=""></th>
                                <th><img th:src="@{'/images/silver.png'}" alt=""></th>
                                <th><img th:src="@{'/images/bronze.png'}" alt=""></th>
                            </tr>
                            <tr th:each="mapEntry : ${badgeCount}">
                                <td th:text="${mapEntry.key}">Jey</td>
                                <td th:text="${mapEntry.value}"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <label>Available Points</label>
                        <h1 th:text="${currentUser.totalPoints}">
                            <small>pts</small>
                        </h1>
                    </div>

                    <div class="panel-footer" align="right">
                        <button class="btn btn-default btn-md" type="button">Reedem Points</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">ALL BADGES</a></li>
                    <li><a data-toggle="tab" href="#menu1">BADGES SHARED</a></li>
                    <li><a data-toggle="tab" href="#menu2">BADGES RECEIVED</a></li>
                    <li><a data-toggle="tab" href="#menu3">BADGES HISTORY</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>ALL BADGES</h3>
                        <table>
                            <tr>
                                <th><img th:src="@{'/images/gold.png'}" alt=""></th>
                                <th><img th:src="@{'/images/silver.png'}" alt=""></th>
                                <th><img th:src="@{'/images/bronze.png'}" alt=""></th>
                            </tr>
                            <tr th:each="mapEntry : ${badgeCount}">
                                <td th:text="${mapEntry.key}">Jey</td>
                                <td th:text="${mapEntry.value}"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>BADGES SHARED</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>BADGES RECEIVED</h3>
                        <table>
                            <tr>
                                <th><img th:src="@{'/images/gold.png'}" alt=""></th>
                                <th><img th:src="@{'/images/silver.png'}" alt=""></th>
                                <th><img th:src="@{'/images/bronze.png'}" alt=""></th>
                            </tr>
                            <tr th:each="mapEntry : ${badgeCount}">
                                <td th:text="${mapEntry.key}">Jey</td>
                                <td th:text="${mapEntry.value}"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <h3>BADGES HISTORY</h3>
                        <table>
                            <tr>
                                <th><img th:src="@{'/images/gold.png'}" alt=""></th>
                                <th><img th:src="@{'/images/silver.png'}" alt=""></th>
                                <th><img th:src="@{'/images/bronze.png'}" alt=""></th>
                            </tr>
                            <tr th:each="mapEntry : ${badgeCount}">
                                <td th:text="${mapEntry.key}">Jey</td>
                                <td th:text="${mapEntry.value}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $(".nav-outer").prepend('<span class="custom-value-text">' + $('.nav-outer li.active').text() + '</span>'),
            $(".nav-outer").append('<span class="trending-trigger"><span></span><span></span><span></span></span>'),
            $(".trending-trigger").click(function () {
                $(".nav-tabs.trending").toggleClass("open");
            })
    });
</script>

</body>
</html>
