<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Index Page</title>

    <link th:href="@{'/stylesheets/index.css'}" rel="stylesheet"/>
    <script th:src="@{'/javascripts/index.js'}"></script>

<body>


<div th:fragment="header">

    <nav class="navbar navbar-default fixed-top">

        <div class="container">

            <a class="navbar-brand" href="/user/dashboard" style="padding: 30px; margin-left: -80px;">
                <img alt="Reap" src="/images/reapmain.png">
            </a>

            <div style="margin-top: 28px;margin-right: -20px;margin-left: 30px;">
                <img id="reap" alt="Reap Slogan" src="/images/reap.png" style="margin-left: -25px">

                <a href="http://newersworld.tothenew.com">
                    <button type="button" class="btn btn-default btn-md">
                        <span aria-hidden="true"></span> Back To Newersworld
                    </button>
                </a>

                <a href="/user/dashboard">
                    <button type="button" class="btn btn-default btn-md active"
                            style="background-color: deeppink;color: white">
                        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard
                    </button>
                </a>

                <a href="/badge/index">
                    <button type="button" class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Badges
                    </button>
                </a>

                <a href="/displayCertificate/display">
                    <button type="button" class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Certificate
                    </button>
                </a>

                <a href="/notification/index">
                    <button type="button" class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon-bell " aria-hidden="true"></span>
                    </button>
                </a>

                <div class="nav navbar-nav navbar-right">

                    <div class="navbar-custom-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img class="user-image" alt="User Image" src="/images/user.png">
                                </a>
                                <ul class="dropdown-menu">

                                    <div class="panel panel-primary">
                                        <div class="panel-body">


                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <a href="/guideline/index">Guidelines</a>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a href="/logout">Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--</button>-->
                </div>
            </div>
        </div>
    </nav>


</div>

<div class="container">
    <div class="modal fade" id="profile" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h5>Your Profile</h5>
                </div>

                <div class="modal-body">
                    <form role="form" th:each="user:${users}">
                        <div class="row">
                            <label>Newers Name:</label>
                            <td th:text="${user.firstname}"></td>
                        </div>

                        <div class="row">
                            <label>Email Address:</label>
                            <td th:text="${user.email}"></td>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <div class="row">
                        <div class="col-md-6"></div>

                    </div>
                    <button class="btn btn-primary btn-sm" type="submit">Send Password</button>
                    <button class="btn btn-default btn-sm" data-dismiss="modal" data-toggle="modal"
                            type="button">Close
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer">
    <div class="footer">
        <p>TO THE NEW&copy; 2018</p>
    </div>
</div>


</body>
</html>