<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Registration Page</title>

    <link th:href="@{'/stylesheets/index.css'}" rel="stylesheet"/>
    <script th:src="@{'/javascripts/index.js'}"></script>

<body>

<div th:insert="common.html :: header"></div>

<div class="container-fluid">
    <div class="panel panel-succes">
        <div class="panel-body">
            Registration is Successfully done! Please <a href="/login"><span style="font-size: 20px">Login</span></a> to
            access your Dashboard.
        </div>
    </div>
</div>

<div th:insert="common.html :: footer"></div>


</body>
</html>