<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Page</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link th:href="@{'/stylesheets/admin.css'}" rel="stylesheet"/>


</head>
<body>

<div class="container-fluid">

    <!--
        <form method="post" action="/admin/list/update">

            <input type="hidden" class="form-control" name="user_id" th:value="${user.id}"/>

            <label>First name</label>
            <input type="text" name="firstname" th:value="${user.firstname}">

            <label>Last name</label>
            <input type="text" name="lastname" th:value="${user.lastname}">

            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    -->

    <form method="post" action="/admin/list/update">
        <input type="hidden" class="form-control" name="user_id" th:value="${user.id}"/>

        <div class="form-group">
            <label class="control-label col-md-3">First Name</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="firstname" th:value="${user.firstname}">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-3">Last Name</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="lastname" th:value="${user.lastname}" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Email</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="email" th:value="${user.email}" required>
            </div>
        </div>

        <div class="form-group">
             <label class="control-label col-md-3">Edit Role</label>
             <div class="col-md-7">
                 <input type="radio" class="col-sm-1" name="userRole" value="PRACTICE HEAD" required/>
                 <div class="col-sm-2">PRACTICE HEAD</div>
                 <input type="radio" class="col-sm-1" name="userRole" value="ADMIN" required/>
                 <div class="col-sm-1">ADMIN</div>
                 <input type="radio" class="col-sm-1" name="userRole" value="USER" required/>
                 <div class="col-sm-1">USER</div>
             </div>
         </div>

        <div class="form-group">
            <label class="control-label col-md-3">Status</label>
            <div class="col-md-7">
                <input type="radio" class="col-sm-1" name="status" value="Active" required/>
                <div class="col-sm-1">Active</div>
                <input type="radio" class="col-sm-1" name="status" value="Inactive" required/>
                <div class="col-sm-1">Inactive</div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-5">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>

    </form>

</div>


</body>
</html>