<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Login Page</title>

    <link th:href="@{'/stylesheets/index.css'}" rel="stylesheet"/>
    <script th:src="@{'/javascripts/index.js'}"></script>

<body style="margin: 40px">

<div class="container-fluid">

    <div class="modal-content">
        <div class="modal-header">
            <h5>Login</h5>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" th:if="${msg}" th:utext="${msg}"></div>
            </div>
            <form th:action="@{'/login'}" method="post">

                <div class="form-group">
                    <label>Email: <span style="color:red">*</span></label>
                    <input type="email" class="form-control" name="email" required
                           placeholder="Enter email">

                </div>
                <div class="form-group">
                    <label>Password: <span style="color:red">*</span></label>
                    <input type="password" class="form-control" name="password" required
                           placeholder="Enter password">
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <p align="left"><a href="/forgotpassword"><u>Forgot Password</u></a></p>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-primary btn-md" type="submit">Login</button>
                            <a href="/register">
                                <button class="btn btn-primary btn-md" type="button">Register</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--
        <div class="container">
            <div class="modal fade" id="myForgot" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5>Forgot Password</h5>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>Email: <span style="color:red">*</span></label>
                                    <input type="email" class="form-control" name="email" placeholder="Enter email address">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">

                            <button class="btn btn-primary btn-sm" type="submit">Send Password</button>
                            <button class="btn btn-default btn-sm" data-dismiss="modal" data-toggle="modal"
                                    type="button">Close
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->


</div>

</body>

</html>